/* Tailwind directives */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* google fonts stored as font classes*/
* {
  font-family: 'Nunito', sans-serif;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.font-nunito {
  font-family: 'Nunito', sans-serif;
}

/* other styles */

nav ul li {
  @apply hover:border-b-2 h-full flex items-center box-content border-black px-1;
}

.custom-btn {
  @apply box-border rounded-md;
}

.banner-image-transform {
  transform: translateY(-100px);
}

.custom-shift {
  position: relative;
  top: -500px;
}

.detail-text-section-header {
  @apply after:mt-4 after:w-14 after:block after:h-1 after:rounded-lg after:bg-blue-500;
}

/* default nextjs generated styles */

/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */
